<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.tendril.wiki</string>
    <key>ServiceDescription</key>
    <string>Tendril Wiki Daemon</string>
    <key>RunAtLoad</key>
    <true/>
    <key>ProgramArguments</key>
    <array>
        <string>*** YOUR PATH TO TENDRIL (most likeley just tendril if you've added it to your $PATH) ***</string>
    </array>
    <key>StandardOutPath</key>
    <string>/tmp/tendril.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/tendril.log</string>
</dict>
</plist>
