.editor {
  display: none;
}

.editor.visible {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

form.editor div {
  height: 1rem;
}

.editor label {
  width: 80%;
  margin: auto;
}

.editor button {
  height: auto;
  text-align: center;
  align-self: flex-end;
  background-color: var(--accent);
  border: none;
  border-radius: calc(var(--rad) / 2);
  padding: 0.5rem;
  cursor: pointer;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.editor input[type="text"],
.editor input[type="url"],
.editor input[type="password"] {
  width: 80%;
  margin: 0.5rem auto;
  color: var(--text-color);
  background-color: var(--bg-darker);
  border-radius: var(--rad);
  padding: 0.5rem;
  border: none;
  font-weight: bold;
}
.editor input[type="text"]:focus-visible,
.editor input[type="password"]:focus-visible,
.editor textare:focus-visible {
  outline: 1px solid var(--primary);
}
