body {
  margin: 0px;
  padding: 0.25rem;
}

h2 {
  font-size: 1.2rem;
}
h1,
h2,
h3,
h4 {
  padding: 1rem;
}

aside {
  display: none;
}

.content-container {
  width: unset;
  padding: 0.25rem;
}

.content-body p {
  padding: 1rem;
}

.navigation {
  width: unset;
}

.navigation nav {
  width: 100%;
  display: none;
}

#mobile-nav:checked ~ nav {
  display: block;
}

#mobile-nav ~ label {
  padding: 0.5rem;
  display: block;
}

#mobile-nav ~ label:before {
  font-size: 2rem;
  content: "Δ";
}

#mobile-nav:checked ~ label:before {
  content: "∇";
  font-size: 2rem;
}

.navigation ul {
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
}

.navigation ul > li {
  padding: 0.5rem;
  text-align: center;
}

.search {
  align-items: center;
  margin: 0.5rem auto;
}

.footer {
  width: unset;
}

/** File Uploader **/
.uploader {
  width: 100%;
}

#submit-file {
  width: 55%;
}
