body {
  margin: 0px;
}

h2 {
  font-size: 1.2rem;
}
h1,
h2,
h3,
h4 {
  padding: 1rem;
}

.content-container {
  width: unset;
  padding: 0.25rem;
  margin-bottom: 3rem;
}

.flex-container {
  overflow-x: hidden;
  flex-direction: column;
  margin-top: 3rem;
  height: 90%;
  padding: 0;
}

.content-body {
  padding: 0rem;
}

.content-body p {
  padding: 1rem;
}

.title {
  font-size: 2rem;
}

.navigation {
  position: fixed;
  bottom: 0;
}
.search {
  align-items: center;
  margin: 0.5rem auto;
  width: 100%;
}

.footer {
  width: unset;
}

/** File Uploader **/
.uploader {
  width: 100%;
}

#submit-file {
  width: 55%;
}

#term:active,
#term:focus {
  max-width: 40%;
}
