.search-result-container {
  height: 75vh;
  overflow-y: scroll;
}
.search-result-container li {
  width: 70%;
  margin: auto;
}
.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--text-color);
  border-radius: var(--rad);
  padding: 1rem;
  box-shadow: 2px 2px 6px 1px var(--bg-darker);
  margin: 1rem auto;
}
.result h2:first-child {
  margin: 0px;
}
.expand {
  background: transparent;
  border: 1px solid var(--text-color);
  cursor: pointer;
  border-radius: var(--rad);
  color: var(--text-color);
  font-size: 1rem;
}
.expanded {
  border-bottom: none;
  border-radius: var(--rad) var(--rad) 0px 0px;
  box-shadow: none;
}
.expanded-content {
  border: 1px solid var(--text-color);
  border-top: none;
  border-radius: 0px 0px var(--rad) var(--rad);
  margin-top: -1rem;
  padding: 1rem;
  /* only for safari */
  overflow: hidden;
  /* modern browsers provide this, but safari does not :( */
  overflow: clip;
  max-height: 15rem;
}
