:root {
  --color: rgba(33, 133, 208, 0.1);
  --color-darker: rgba(33, 133, 208, 1);
  --accent: rgb(64, 32, 207);
  --bg: #eeeeee;
  --shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
  --rad: 6px;
}

body {
  background-color: var(--bg);
}

a:link {
  color: var(--color-darker);
}
a:visted {
  color: var(--accent);
}

ul {
  list-style: none;
}
/**
 * Main content
 */

#edit:checked ~ .content {
  display: none;
}

#edit:checked ~ .editor {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.editor {
  display: none;
}

.editor label {
  width: 80%;
  margin: auto;
}

.editor textarea {
  width: 80%;
  margin: auto;
  height: 500px;
  padding: 0.5rem;
}
.editor input[type="text"] {
  width: 80%;
  margin: auto;
}

.content-container {
  width: 60%;
  margin: auto;
  padding: 2rem;
  border-radius: var(--rad) var(--rad) 0px 0px;
  box-shadow: var(--shadow);
}

.content-body {
  width: 100%;
}

.content-body p {
  font-size: 1.2rem;
  line-height: 2rem;
}

.tags li::before {
  content: "#";
}

.title {
  background-color: var(--color);
  text-align: center;
  padding: 1rem;
}

.footer {
  background-color: var(--color-darker);
  color: var(--bg);
  width: 60%;
  margin: auto;
  padding: 0.5rem 2rem;
  border-radius: 0px 0px var(--rad) var(--rad);
  box-shadow: var(--shadow);
}

.footer a {
  color: var(--bg);
}

.backlinks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 4rem;
}
