:root {
  --primary: rgba(33, 133, 208, 0.1);
  --primary-variant: rgba(33, 133, 208, 1);
  --accent: rgb(64, 32, 207);
  --bg: #eeeeee;
  --bg-darker: #e6e6e6;
  --shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
  --rad: 6px;
  --text-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-variant: rgb(110, 193, 255);
    --primary: rgba(33, 133, 208, 1);
    --accent: rgb(198, 185, 255);
    --bg: #333333;
    --bg-darker: #171717;
    --shadow: 0 2px 4px 0 rgba(120, 130, 140, 0.12),
      0 2px 10px 0 rgba(120, 130, 140, 0.15);
    --text-color: #fff;
  }
}

body {
  background-color: var(--bg-darker);
  color: var(--text-color);
  font-family: sans-serif;
}

a {
  color: var(--primary-variant);
}

.tags {
  list-style: none;
}

blockquote {
  font-family: monospace;
  background-color: var(--bg-darker);
  border-left: 4px solid var(--accent);
  padding: 0rem 0.5rem;
}
/**
 * Main content
 */

#edit:checked ~ .content {
  display: none;
}

#edit:checked ~ .editor {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.editor {
  display: none;
}

.editor.visible {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.editor label {
  width: 80%;
  margin: auto;
}

.editor button {
  width: 20;
  height: auto;
  text-align: center;
  align-self: flex-end;
  background-color: var(--primary-variant);
  border: none;
  border-radius: calc(var(--rad) / 2);
  padding: 0.5rem;
}

.editor textarea {
  width: 80%;
  margin: auto;
  height: 500px;
  padding: 0.5rem;
  color: var(--text-color);
  background-color: var(--bg);
  border: 1px solid var(--primary-variant);
}
.editor input[type="text"] {
  width: 80%;
  margin: 0.5rem auto;
  color: var(--text-color);
  background-color: var(--bg);
  border-radius: var(--rad);
  padding: 0.5rem;
  border: 1px solid var(--primary-variant);
  font-width: bold;
}

.content-container {
  width: 60%;
  margin: auto;
  padding: 2rem;
  border-radius: var(--rad) var(--rad) 0px 0px;
  box-shadow: var(--shadow);
  background-color: var(--bg);
}

.content-body {
  width: 100%;
}

.content-body p {
  font-size: 1.2rem;
  line-height: 2rem;
}

.tags li::before {
  content: "#";
}

.title {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem;
}

/** Footer **/
.footer {
  background-color: var(--primary-variant);
  color: var(--bg);
  width: 60%;
  margin: auto;
  padding: 0.5rem 2rem;
  border-radius: 0px 0px var(--rad) var(--rad);
  box-shadow: var(--shadow);
}

.footer a {
  color: var(--bg);
}

/** Backlinks **/
.backlinks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.backlinks a {
  margin: 0.25rem;
}

/** Navigation **/
.navigation {
  width: 60%;
  margin: auto;
}

.navigation ul {
  display: flex;
  padding: 0rem;
  margin: 0rem;
  justify-content: flex-end;
  list-style: none;
}

.navigation ul > li {
  margin: 0rem 0.25rem;
}
