:root {
  --rad: 6px;
  --primary: rgba(33, 133, 208, 0.1);
  --primary-variant: rgba(33, 133, 208, 1);
  --variant-muted: rgba(33, 133, 208, 0.5);
  --accent: rgb(64, 32, 207);
  --bg: #ffffff;
  --bg-darker: #e6e6e6;
  --shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
  --text-color: #000000;
  --table-border-color: transparent;
  --button-text: #ffffff;
}
@media (prefers-color-scheme: dark) {
  :root {
    --primary-variant: rgb(110, 193, 255);
    --variant-muted: rgb(110, 193, 255, 0.5);
    --primary: rgba(33, 133, 208, 1);
    --accent: rgb(198, 185, 255);
    --bg: #262525;
    --bg-darker: #171717;
    --shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 1px 3px 0 rgba(0, 0, 0, 0.12);
    --text-color: #ffffff;
    --button-text: #000000;
  }
}
* {
  margin: 0;
  max-width: 100vw;
}
html {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
  font-family: Arial;
}
body {
  -webkit-overflow-scrolling: touch;
  height: 100vh;
  scroll-snap-type: y proximity;
  background-color: var(--bg);
  color: var(--text-color);
}
a {
  color: var(--primary-variant);
  font-weight: bold;
  text-decoration: none;
}

h2 {
  margin: 1rem 0rem;
}

li {
  margin-bottom: 0.5rem;
}

button {
  color: var(--button-text);
}

.hidden {
  display: none;
}

.content-body {
  padding: 2rem;
}
.content-container {
  flex: 1 1 auto;
  overflow: hidden;
}
.content {
  height: 95%;
  width: 80%;
  margin: 0rem auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--accent);
  text-align: center;
  padding: 1rem;
  margin: 0rem;
  font-size: 3rem;
}

/** Footer **/
.footer {
  background-color: var(--primary-variant);
  color: var(--bg);
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  border-radius: 0px 0px var(--rad) var(--rad);
}

.footer a {
  color: var(--bg);
}

/** Navigation **/
.navigation {
  width: 100%;
  margin: 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navigation nav {
  display: none;
}

#home {
  display: none;
}

#mobile-nav ~ label {
  display: none;
}

#mobile-nav {
  display: none;
}

.navigation form {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex: 1 0 auto;
}

.navigation ul {
  display: flex;
  padding: 0rem;
  margin: 0rem;
  justify-content: space-between;
  list-style: none;
}

.navigation ul > li {
  margin: 0rem 0.25rem;
}

/** Search **/
.search {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0rem 1rem;
}
#term {
  width: 200px;
}
#term:active,
#term:focus {
  width: 400px;
}
.search.context {
  display: flex;
  align-items: center;
  flex-direction: row;
}
input[type="text"],
input[type="url"] {
  color: var(--text-color);
  background-color: var(--bg-darker);
  border-radius: var(--rad);
  padding: 0.25rem;
  /* border: 0.5px solid var(--primary-variant); */
  border: none;
  box-shadow: var(--shadow);
  font-weight: bold;
  width: 80%;
  height: 25px;
}

input[type="text"]:focus,
input[type="url"]:focus,
textarea:focus {
  outline: 1px solid var(--primary-variant);
}

button.submit {
  height: 2.25rem;
  font-size: 16px;
  width: 25%;
  padding: 2rem 0rem;
  align-self: stretch;
}

aside {
  flex: 1 auto;
  min-width: 250px;
  max-width: 250px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-darker);
  border-radius: var(--rad) var(--rad) 0px 0px;
}

aside ul {
  list-style: none;
  font-size: 1rem;
  margin: 0rem;
  padding: 0.5rem;
}
aside ul a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  display: inline-block;
  max-width: 100%;
}

#delete-note form button {
  border: none;
  color: var(--primary-variant);
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  display: inline-block;
  max-width: 100%;
}

aside form {
  margin-left: -0.3rem;
}

aside h2 {
  text-align: center;
}

.flex-container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  height: calc(100vh - 60px);
  padding: 0.5rem 0rem;
}

.update-available {
  box-shadow: var(--shadow);
  width: 160px;
  height: 70px;
  position: absolute;
  top: 50rem;
  right: 1rem;
  border-radius: var(--rad);
  border: 1px solid var(--variant-muted);
  background-color: var(--bg-darker);
  padding: 8px;
}
.dismiss-notification {
  position: relative;
  top: -60px;
  cursor: pointer;
  display: inline-block;
  right: -145px;
}
