.project {
  color: var(--accent);
}
.context {
  color: var(--primary-variant);
}
.priority {
  font-weight: bold;
}
thead {
  background-color: var(--background-color);
  font-weight: bold;
  font-size: 1.25rem;
}
th[role="button"] {
  user-select: none;
  cursor: pointer;
}

th:nth-child(5) {
  text-align: left;
}

[aria-sort="ascending"]::after {
  content: " Δ";
  color: var(--primary-variant);
}

[aria-sort="descending"]::after {
  content: " ∇";
  color: var(--primary-variant);
}

tr {
  text-align: center;
}

tr td:nth-child(5) {
  text-align: left;
}

table {
  margin: auto;
  width: 80%;
}

tr td:not(:nth-child(4)):hover {
  cursor: pointer;
  outline: 2px solid var(--accent);
}

tr td:not(:nth-child(4)):focus {
  outline: 2px solid var(--accent);
}

tr td:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
}
tr td:first-child {
  width: 30px;
}

tr td:first-child:hover::after {
  content: "🗑️";
}

td {
  height: 3rem;
}
.edit-text-input {
  border: none;
  background-color: transparent;
  color: var(--text-color);
  height: 3rem;
  font-size: 16px;
  width: 100%;
}
.priority .edit-text-input {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  width: 2rem;
  text-align: center;
}
.edit-text-input:hover {
  border: none;
}

.task-metadata {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
}

.task-metadata.hidden {
  display: none;
}
.task-header {
  width: 100%;
}

.task-header div {
  padding: 1rem;
  width: 80%;
  margin: 0.5rem auto;
}

.task-header div span {
  display: block;
  margin: auto;
}

.task-header.edit {
  border-bottom: 1px solid var(--accent);
}

.task-header form {
  margin: 0.75rem auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0rem;
}

.task-header form button {
  align-self: center;
}

.task-header form input {
  margin: 0rem;
  outline: 1px solid var(--accent);
}

.editor input[type="text"] {
  margin: 0rem;
}

.task-header button {
  width: 80px;
}
