.project {
  color: var(--accent);
}
.context {
  color: var(--primary-variant);
}
.priority {
  font-weight: bold;
  padding: 0.15rem;
  color: var(--accent);
}
[aria-sort="ascending"]::after {
  content: " Δ";
  color: var(--primary-variant);
}

.task-list {
  list-style: none;
}
.task-meta,
.task-body {
  display: flex;
  flex-wrap: wrap;
}
.task-list li {
  margin: 1rem 0rem;
}
.task-body {
  align-items: center;
  margin: 0.25rem 0rem;
}
.task-body label {
  margin: 0rem 0.25rem;
  font-size: 1.15rem;
}
.task-body input {
  background-color: var(--bg-darker);
  border-radius: var(--rad);
}
.task-body input[type="checkbox"] {
  width: 25px;
  height: 25px;
  margin: 0px;
  cursor: pointer;
  appearance: none;
  margin-right: 10px;
  margin-bottom: 5px;
}
.task-body input:checked {
  background-color: inherit;
  border-right: 2px solid var(--primary-variant);
  border-bottom: 2px solid var(--primary-variant);
  transform: rotate(45deg);
  border-radius: 0px;
  width: 12px;
  height: 25px;
  margin-right: 25px;
}

.task-body input:checked ~ label {
  text-decoration: line-through;
}
.task-meta span {
  font-size: small;
  margin-right: 5px;
}

[aria-sort="descending"]::after {
  content: " ∇";
  color: var(--primary-variant);
}

.edit-text-input {
  border: none;
  color: var(--text-color);
  font-size: 16px;
  padding: 0.25rem;
}
.edit-text-button {
  min-width: 1rem;
  min-height: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px;
}
.edit-text-button.hidden {
  display: none;
}
#priority-input {
  width: 1.25rem;
  height: 1.25rem;
  text-transform: uppercase;
}
.priority .edit-text-input {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  width: 2rem;
  text-align: center;
}
.edit-text-input:hover {
  border: none;
}

#delete::before {
  content: "🗑️";
  cursor: pointer;
}

.task-meta {
  align-items: center;
}

.task-meta.hidden {
  display: none;
}
.task-header {
  width: 100%;
}

.task-header div {
  padding: 1rem;
  width: 80%;
  margin: 0.5rem auto;
}

.task-header div span {
  display: block;
  margin: auto;
}

.task-header.edit {
  border-bottom: 1px solid var(--accent);
}

.task-header form {
  margin: 0.75rem auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0rem;
}

.task-header form button {
  align-self: center;
}

.task-header form input {
  margin: 0rem;
  outline: 1px solid var(--accent);
}

.editor input[type="text"] {
  margin: 0rem;
}

.task-header button {
  width: 80px;
}
