<!DOCTYPE html>
<html lang="en-US" prefix="og:http://ogp.me/ns#">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <%= include "styles" %>
    <meta name="description" content="Backlinks" />
    <meta property="og:title" content="Backlinks" />
    <meta property="og:type" content="website" />
    <title>Backlinks</title>
  </head>
  <body>
    <%= include "nav" %>
    <div class="content-container">
      <h1 class="title">Backlinks</h1>
      <div><%= link_content %></div>
    </div>
    <%= include "footer" %>
  </body>
</html>
