<!DOCTYPE html>
<html lang="en-US" prefix="og:http://ogp.me/ns#">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/static-form.css" />
    <link
      rel="stylesheet"
      href="/static/mobile.css"
      media="screen and (max-width: 1000px)"
    />
    <meta property="og:title" content="Add a new bookmark" />
    <meta property="og:type" content="website" />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/static/favicon.ico"" type="image/x-icon" />
    <title>New Bookmark</title>
  </head>
  <body>
    <%= include "search" %>
    <div class="flex-container">
      <%= sidebar %>
      <div class="content-container">
        <h2 style="text-align: center">New Bookmark</h2>
        <form
          class="editor visible"
          method="post"
          action="/new_bookmark"
          target="_parent"
        >
          <label for="url">Url</label>
          <input
            type="url"
            id="url"
            autofocus
            name="url"
            placeholder="enter url"
          />
          <label for="tag-edit">Tags</label>
          <input
            id="tag-edit"
            type="text"
            name="tags"
            placeholder="tag this bookmark"
          />
          <button type="submit">Save</button>
        </form>
      </div>
    </div>
  </body>
</html>
