<!DOCTYPE html>
<html lang="en-US" prefix="og:http://ogp.me/ns#">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <%= include "styles" %>
    <meta name="description" content="About Tendril Wiki" />
    <meta property="og:title" content="About Tendril Wiki" />
    <meta property="og:type" content="website" />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/static/favicon.ico"" type="image/x-icon" />
    <title>Tendril Wiki Help</title>
    <style>
      kbd {
        font-size: 0.85em;
        padding: 0.0625rem 0.5rem;
        border-radius: 0.125rem;
        border: 1px solid;
        box-shadow: 1px 1px 0 var(--accent), 2px 2px 0 var(--accent);
        font-weight: bold;
      }

      .shortcut {
        margin: auto 0.5rem;
      }
      .shortcuts {
        list-style: none;
      }
    </style>
  </head>
  <body>
    <div class="content-container">
      <div class="content">
        <h1 class="title">Tendril Wiki Help</h1>
        <main class="content-body">
          <h2 id="wiki-syntax">Wiki Syntax</h2>
          <p>
            In addition supporting GitHub flavored markdown, Tendril Wiki
            supports some wiki syntax extensions.
          </p>
          <p><code>[[My Note]]</code> will link to a page called, "My Note"</p>
          <p>
            <code>[[A cool note!|My Note]]</code> will link to a page called,
            "My Note", with the link text displaying, "A cool note!"
          </p>
          <p>
            <code>[[files:article.pdf]]</code> will link to an uploaded pdf
            called, "article"
          </p>
          <p>
            <code>[[this article|files:article.pdf]]</code> will link to an
            uploaded pdf called, "article" with the link text displaying, "this
            article"
          </p>
          <h2 id="todo-format">Todo.txt Format</h2>
          <p>
            The task tracking functionality in Tendril Wiki follows the
            <a href="https://github.com/todotxt/todo.txt">todo.txt format</a>.
            Your tasks are stored in a <strong>todo.txt</strong> file inside
            your wiki directory.
          </p>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            id="svg2"
            viewBox="0 0 632.2 281"
          >
            <style>
              .st0 {
                font-family: Courier;
                font-size: 12px;
              }
              .st1 {
                fill: none;
                stroke: #000000;
                stroke-miterlimit: 10;
              }
              .st2 {
                font-family: Arial;
                font-size: 10px;
              }
            </style>
            <rect width="100%" height="100%" fill="#FFF" />
            <text class="st0" transform="translate(4.024 172.96)">
              x (A) 2016-05-20 2016-04-30 measure space for +chapelShelving
              @chapel due:2016-05-30
            </text>
            <path
              d="M15.2 159v-6H.5v6m36 0v-6H21.8v6m96.5 0v-6H47.5v6m149.3 0v-6H126v6m483.7.2V153H206v6.1m238.7 22.8v7.2H335V182m274.7-.1v7.2H509V182m-7.5-.1v7.2h-49.1V182"
              class="st1"
            />
            <text class="st2" transform="rotate(-45 161.175 55.627)">
              Optional — Marks completion
            </text>
            <text class="st2" transform="rotate(-45 171.8 29.976)">
              Optional -- Marks priority
            </text>
            <text class="st2" transform="rotate(-45 198.684 -34.92)">
              Optional -- Completion Date
            </text>
            <text transform="rotate(-45 237.935 -129.68)">
              <tspan x="0" y="0" class="st2">Optional -- Creation Date</tspan>
              <tspan x="0" y="12" class="st2">
                (must be specified if completion date is)
              </tspan>
            </text>
            <text transform="rotate(-45 352.18 -405.478)">
              <tspan x="0" y="0" class="st2">
                Description; tags (optional)
              </tspan>
              <tspan x="0" y="12" class="st2">
                can be placed anywhere in here
              </tspan>
            </text>
            <text class="st2" transform="rotate(45 -60.77 576.533)">
              Project Tag
            </text>
            <text class="st2" transform="rotate(45 -17.238 681.627)">
              Context tag
            </text>
            <text class="st2" transform="rotate(45 23.978 781.127)">
              Special key/value tag
            </text>
          </svg>
          <h2 id="wiki-syntax">Archiving Bookmarks</h2>
          <p>
          If you add the `bookmark` tag to a note in addition to adding
          `url:<url-of-bookmark>` to the metadata, tendril will archive the text content of the url.
            This text content will be availble inside the search engine, allowing you to do a full
            text search across the bookmarks you've saved!
          </p>
          <h2 id="embeds">Automatic Embeds</h2>
          <p>
            Certain websites and links to filetypes will automatically be
            embedded in your wiki by just pasting the link into the note!
          </p>
          <p>
            Here some examples of sites and files that you can automatically
            embed:
          </p>
          <ul>
            <li>Youtube videos</li>
            <li>Photos copied to your clipboard</li>
            <li>Spotify songs</li>
            <li>Codepen pens</li>
            <li>Codesandbox sandboxes</li>
            <li>Vimeo videos</li>
            <li>Links to mp3, ogg, and flac files</li>
          </ul>
          <h2 id="keyboard-shortcuts">Keyboard Shortcuts</h2>
          <p>
            Keyboard shortcuts are enabled regardless of whether or not you are
            using JavaScript. If you aren't using JavaScript, the keyboard
            shortcuts are the same as the key listed below, in combination with
            your browser's
            <a
              href="https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/accesskey"
              >access key combination</a
            >
          </p>
          <ul class="shortcuts">
            <li><kbd class="shortcut">/</kbd> Jump to the search page</li>
            <li>
              <kbd class="shortcut">e</kbd> Edit the currently viewed page
            </li>
            <li><kbd class="shortcut">n</kbd> Create a new page</li>
            <li>
              <kbd class="shortcut">l</kbd> Create a new page that backlinks to
              the currently viewed page
            </li>
            <li><kbd class="shortcut">p</kbd> Edit your user stylesheet</li>
            <li><kbd class="shortcut">t</kbd> View your task list</li>
          </ul>
        </main>
      </div>
    </div>
    <%= include "footer" %>
    <script defer="true" src="/static/searchPage.js"></script>
  </body>
</html>
