<!DOCTYPE html>
<html lang="en-US" prefix="og:http://ogp.me/ns#">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <%= include "styles" %>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <meta name="description" content="Index for your notebook" />
    <meta property="og:title" content="<%= user %>'s notebook" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta name="robots" content="noindex, nofollow" />
    <!-- APPLE STUFF -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="<%= user %>'s notebook" />
    <link rel="apple-touch-icon" href="/static/icon.png" />
    <meta rel="apple-touch-startup-image" href="/static/icon.png" />
    <meta name="apple-moble-web-app-status-bar-style" content="black" />
    <!-- PWA Stuff -->
    <meta name="mobile-web-app-capable" content="yes" />
    <link rel="shortcut icon" href="/static/icon.png" />
    <link rel="manifest" href="/static/manifest.json" />

    <title><%= user %>'s notebook</title>
    <script src="https://unpkg.com/jquery@3.6.0/dist/jquery.js"></script>
  </head>
  <body>
    <%= include "nav" %>
    <div class="content-container">
      <div class="content">
        <h1 class="title"><%= user %>'s notebook</h1>
        <div>
          <h2>Recently Edited</h2>
          <ul class="mru">
            <%= mru %>
          </ul>
          <h2>Quick Actions</h2>
          <ul>
            <ol>
              <a href="/tags">Browse tagged topics</a>
            </ol>
            <ol>
              <a href="/links">View content index</a>
            </ol>
            <ol>
              <a href="/files/list">View uploaded files</a>
            </ol>
          </ul>
        </div>
        <h2>Prompts</h2>
        <div id="prompt-container"></div>
      </div>
    </div>
    <%= include "footer" %>
    <script>
      function registerSW() {
        if (location.hostname === "localhost") return;
        if ("serviceWorker" in navigator) {
          navigator.serviceWorker.register("/static/sw.js").catch((e) => {
            console.log("Registration fail: ", e);
          });
        }
      }

      registerSW();
      var tracery;
      function importTracery() {
        const tag = document.createElement("script");
        tag.type = "text\/javascript";
        tag.defer = true;
        tag.onload = waitForBootstrap;
        tag.src = "/static/vendors/tracery.js";
        document.currentScript.parentNode.insertBefore(
          tag,
          document.currentScript
        );
      }

      function waitForBootstrap() {
        if (!tracery) {
          setTimeout(waitForBootstrap, 100);
        } else {
          buildGrammar();
        }
      }

      importTracery();

      async function buildGrammar() {
        const grammarRequest = await fetch("/grammar");
        const payload = await grammarRequest.json();
        const { tags, titles } = payload;
        const grammar = {
          origin: [
            "#title# #connector# #tag# because of the following: #line#",
            "How does #title# remind you of #tag#?",
            "How might #title# and #title# be connected?",
            "If #line# is universally true, does that change how we view #tag#?",
            "If your goal is to save humanity, how can you do this via #tag#?",
          ],
          connector: [
            "is an example of",
            "is the antithesis of",
            "enables",
            "nullifies",
            "confounds",
            "augments",
            "includes",
            "excludes",
          ],
          title: titles,
          tag: tags,
          line: ["example sentence", "note snippet", "line3"],
        };
        const g = tracery.createGrammar(grammar);
        for (let i = 0; i < 5; i++) {
          const prompt = g.flatten("#origin#");
          const promptContainer = document.getElementById("prompt-container");
          const promptString = document.createElement("p");
          promptString.textContent = prompt;
          promptContainer.appendChild(promptString);
        }
      }
    </script>
  </body>
</html>
