<!DOCTYPE html>
<html lang="en-US" prefix="og:http://ogp.me/ns#">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <%= include "meta" %>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <%= include "styles" %>

    <title><%= title %></title>
  </head>
  <body>
    <%= include "nav" %>
    <div class="content-container">
      <%= include "edit" %>

      <div class="content">
        <h1 class="title"><%= title %></h1>
        <div>
          <ul class="tags">
            <%= tags %>
          </ul>
        </div>
        <main class="content-body"><%= body %></main>
        <details class="metadata">
          <summary>Metadata</summary>
          <div>
            <dl><%= metadata %></dl>
          </div>
        </details>
        <%= links %>
      </div>
    </div>
    <%= include "footer" %>
  </body>
</html>
