<!DOCTYPE html>
<html lang="en-US" prefix="og:http://ogp.me/ns#">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <%= include "meta" %>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"
    />
    <%= include "styles" %>

    <script>
      let CURRENT_TITLE = "<%= title %>";
    </script>
    <title><%= title %></title>
  </head>
  <body>
    <%= include "search" %>
    <div class="flex-container">
      <!-- prettier-ignore -->
      <%= sidebar %>
      <!-- prettier-ignore -->
      <%= content %>
    </div>
  </body>
  <script src="static/editor.js" type="module"></script>
</html>
