<!doctype html>
<html lang="en-US" prefix="og:http://ogp.me/ns#">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <%= include "meta" %>
    <!-- prettier-ignore -->
    <%= include "styles" %>
    <script>
      let CURRENT_TITLE = "<%= title %>";
    </script>
    <title><%= title %></title>
  </head>
  <body>
    <%= include "search" %>
    <div class="flex-container">
      <!-- prettier-ignore -->
      <%= content %>
    </div>
    <div class="navigation"><%= nav %></div>
    <script src="static/editor.js" type="module"></script>
    <script src="static/dialogs.js"></script>
  </body>
</html>
