<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
<link rel="icon" href="<%= icon %>" type="image/x-icon" />
<meta name="description" content="<%= desc %>" />
<meta property="og:title" content="<%= title %>" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ URL }}" />
<meta property="og:image" content="" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="<%= icon %>" />
<meta name="twitter:title" content="<%= title %>" />
<meta name="twitter:description" content="<%= desc %>" />
<meta name="robots" content="noindex, nofollow" />
