<nav>
  <ul>
    <li><a href="/new" accesskey="n">✏️ new</a></li>
    <li id="linkto">
      <a accesskey="l" href="/new?linkto=<%= title %>"
        >🔗 link to <%= title %></a
      >
    </li>
    <li><a accesskey="p" href="/styles"> 🖌️ edit look and feel</a></li>
    <li><a accesskey="u" href="/upload">📄 upload a file</a></li>
    <li><a accesskey="t" href="/tasks">📋 task list</a></li>
    <li><a accesskey="b" href="/new_bookmark">🔖 add a bookmark</a></li>
    <li><a id="home" href="/">🏠 home</a></li>
    <li id="delete-note">
      <form
        action="delete"
        method="post"
        target="_parent"
        onsubmit="return confirm('Do you really want to delete <%= title %>?');"
      >
        <input class="hidden" type="text" name="title" value="<%= title %>" />
        <button type="submit">🗑️ delete <%= title %></button>
      </form>
    </li>
  </ul>
</nav>
