<!DOCTYPE html>
<html lang="en-US" prefix="og:http://ogp.me/ns#">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="format-detection" content="telephone=no" />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/static/favicon.ico"" type="image/x-icon" />
    <meta name="description" content="Create a new page" />
    <meta property="og:title" content="<%= page_title %>" />
    <meta property="og:type" content="website" />
    <title><%= page_title %></title>
    <%= include "styles" %>
    <script>
      let CURRENT_TITLE = "<%= title %>";
    </script>
  </head>
  <body>
    <%= include "search" %>
    <div class="flex-container">
      <!-- prettier-ignore -->
      <%= sidebar %>
      <!-- prettier-ignore -->
      <%= content %>
    </div>
    <script src="static/editor.js" type="module"></script>
    <div id="modal"><div class="modal-body"></div></div>
  </body>
</html>
