<!DOCTYPE html>
<html lang="en-US" prefix="og:http://ogp.me/ns#">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <%= include "meta" %>
    <%= include "styles" %>
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:type" content="website" />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/static/favicon.ico"" type="image/x-icon" />
    <title><%= title %></title>
  </head>
  <body>
    <%= include "search" %>
    <div class="flex-container">
      <!-- prettier-ignore -->
      <%= content %>
      </div>
    </div>
  <script src="static/editor.js" type="module"></script>
  </body>
</html>
