<!DOCTYPE html>
<html lang="en-US" prefix="og:http://ogp.me/ns#">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <%= include "styles" %>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/static/favicon.ico"" type="image/x-icon" />
    <meta name="description" content="Search your wiki" />
    <meta property="og:title" content="Search" />
    <meta property="og:type" content="website" />
    <title>Search</title>
  </head>
  <body>
    <div class="content-container">
      <h1 class="title">Search</h1>
      <form class="search-form" method="post" action="search" target="_parent">
        <div class="search">
          <label for="term">Search</label>
          <input name="term" id="term" type="text" value="" />
          <div class="search context">
            <label for="context">context search</label>
            <input type="checkbox" id="context" name="context" />
          </div>
          <button type="submit" class="submit">Search</button>
        </div>
      </form>
    </div>
    <%= include "footer" %>
    <script defer="true" src="/static/searchPage.js"></script>
  </body>
</html>
