<header class="navigation">
  <input type="checkbox" id="mobile-nav" />
  <label for="mobile-nav" aria-label="open nav menu"></label>
  <%= nav %>
  <form method="get" action="search" target="_parent">
    <div class="search">
      <label for="term" style="display: none">Search</label>
      <input
        name="term"
        id="term"
        accesskey="/"
        type="text"
        value=""
        placeholder="🔎 search"
      />
      <button type="submit" class="hidden submit">Search</button>
    </div>
  </form>
</header>
