<link rel="preload" as="style" href="/static/style.css" />
<link rel="preload" as="style" href="/static/mobile.css" />
<link rel="preload" as="style" href="/config/userstyles.css" />
<link rel="preload" as="style" href="/static/note-styles.css" />

<link rel="stylesheet" href="/static/style.css" />
<link rel="stylesheet" href="static/modal.css" />
<link
  rel="stylesheet"
  href="/static/mobile.css"
  media="screen and (max-width: 1000px)"
/>
<link rel="stylesheet" href="/static/note-styles.css" />
<link rel="stylesheet" href="/config/userstyles.css" />
<template id="title-editor">
  <input type="text" minlength="1" class="title" />
</template>
