<!DOCTYPE html>
<html lang="en-US" prefix="og:http://ogp.me/ns#">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <%= include "styles" %>
    <link rel="stylesheet" href="/static/tasks.css" />
    <meta property="og:title" content="Todo List" />
    <meta property="og:type" content="website" />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/static/favicon.ico"" type="image/x-icon" />
    <title>Tasks</title>
  </head>
  <body>
    <%= include "nav" %>
    <div class="content-container">
      <h4>Current Tasks</h4>
      <div class="task-header editor">
        <div>
          <span
            >Use the todo.txt format for adding new todos. More information on
            this format can be found in the <a href="/help">help page</a>.</span
          >
          <input type="text" />
        </div>
        <button type="button">New Task</button>
      </div>
      <table role="grid">
        <thead>
          <tr>
            <th></th>
            <th role="button">Status</th>
            <th role="button">Priority</th>
            <th>Created</th>
            <th>Content</th>
            <th>Metadata</th>
          </tr>
        </thead>
        <tbody>
          <%= tasks %>
        </tbody>
      </table>
    </div>
    <%= include "footer" %>
    <script src="/static/tasks.js"></script>
  </body>
</html>
