<!DOCTYPE html>
<html lang="en-US" prefix="og:http://ogp.me/ns#">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
<link
  rel="stylesheet"
  href="/static/mobile.css"
  media="screen and (max-width: 1000px)"
/>
<link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/tasks.css" />
    <link rel="stylesheet" href="/static/static-form.css" />
    <link
      rel="stylesheet"
      href="/static/tasks.mobile.css"
      media="screen and (max-width: 1000px)"
    />
<link rel="stylesheet" href="/config/userstyles.css" />
    <meta property="og:title" content="Todo List" />
    <meta property="og:type" content="website" />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/static/favicon.ico"" type="image/x-icon" />
    <title>Tasks</title>
  </head>
  <body>
    <%= include "search" %>
    <div class="flex-container">
      <%= sidebar %>
      <script src="/static/clear-nav-links.js"></script>
      <div class="content-container">
        <h2>Current Tasks</h2>
        <div class="task-header">
          <div>
            <span
              >Use the todo.txt format for adding new todos. More information on
              this format can be found in the
              <a href="/help#todo-format">help page</a>.</span
            >
            <form class="editor">
              <label for="task" class="hidden">create task</label>
              <input type="text" id="task" placeholder="type what you want to do and hit [Enter]" autocomplete="off" name="task" />
              <button class="hidden" type="submit">New Task</button>
            </form>
          </div>
        </div>
        <ul class="task-list">
          <%= tasks %>
        </ul>
      </div>
    </div>
    <script src="/static/tasks.js"></script>
  </body>
</html>
